@model IEnumerable<EcuniShop1.Models.Compra>

@{
    ViewData["Title"] = "Compras";
}

<h1>Compras</h1>

<p>
    <a asp-action="Create">
        <button type="button" class="btn btn-primary">Registrar Compra</button>
    </a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MetodoPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descuento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstudiante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUbicacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MetodoPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descuento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstudiante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUbicacion)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.IdCompra" class="btn btn-dark">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.IdCompra" class="btn btn-warning">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.IdCompra" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
