@model EcuniShop1.Models.Estudiante

@{
    ViewData["Title"] = "Detalles Estudiante";
}

<h1>Detalles de los estudiantes</h1>

<div>
    <h4>Aqui se observan a detalle todos los datos registrados por estudiante:</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreEstudiante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreEstudiante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApellidoEstudiante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoEstudiante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Membresia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Membresia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUbicacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUbicacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdEstudiante" class="btn btn-primary mr-4">Editar Datos</a>
    <a asp-action="Index" class="btn btn-light">Regresar</a>
</div>
